/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {

    /*Color*/
    --body-color: linear-gradient(45deg, #E48DFF, #5AC1FF, #47FF88);

    /*Font and typography*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*Font weight*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*margenes*/
    --md-1: .5rem;
    --md-2: 1rem;
    --md-3: 1.5rem;
    --md-4: 2rem;

}

* {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    max-height: 100%;
    justify-content: center;
    background: var(--body-color);
    font-family: var(--body-font);
}

.form {
    position: absolute;
    background: white;
    padding: 20px 45px;
    margin: 25px 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 5%);
}

.main-form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.first,
.second {
    position: relative;
}

.form .test-form {
    text-align: center;
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    margin-bottom: var(--md-4);
}

.section h3 {
    padding-top: 1px;
    font-size: var(--h3-font-size);
}

.checkbox h3 {
    margin-top: 0;
    padding-top: 0;
}

/*input*/
.inputs .input {
    margin-bottom: var(--md-2);
}

.inputs .input label {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--md-4);
}

.inputs input {
    padding: 10px 0;
}

.inputs .input input,
.date input {
    border: none;
    border-bottom: 1px solid black;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    width: 100%;
    outline: none;
}

/*radio*/
.radios .radio {
    font-size: var(--h2-font-size);
}

.messege h3 {
    margin-bottom: 0px;
}

.messege textarea {
    border: none;
    border-bottom: 1px solid black;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    width: 100%;
    outline: none;
    padding: 10px 0;
}

.reason select {
    border: none;
    outline: none;
    background: beige;
    padding: 10px 5px;
}

.submit {
    text-align: center;
    margin-top: 55px;
}

.submit input {
    background: var(--body-color);
    color: white;
    border: none;
    outline: none;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

@media (max-width: 576px) {
    body {
        display: flex;
        max-height: 100%;
        justify-content: center;
        background: var(--body-color);
        font-family: var(--body-font);
    }

    .form {
        width: 350px;
        position: absolute;
        background: white;
        padding: 20px 25px;
        margin-top: 40%;
        border-radius: 5px;
    }

    .checkbox label,
    .radios label {
        font-size: var(--small-font-size);
    }

    .submit {
        margin-top: 40px;
    }
}